@import url('fonts.css');

body
{
    color: #34455b;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    height: 100%;
}

*
{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;

}

.frontpage-container
{
    display: block;
    height: 100%;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

.container
{
    display: block;
    height: auto;
    margin: 0 auto;
    padding: 0 15px;
    position: relative;
}

section
{
    margin: 2px 0;
    padding: 40px 0;
    position: relative;
}

ul
{
    padding: 0;
}

.section-content
{
    height: auto;
    margin: 30px auto;
    position: relative;
    text-align: center;
}

.btn-section
{
    display: block;
    margin: 30px auto;
    position: relative;
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after
{
    content: " ";
    display: table
}

.clearfix:after, .container:after, .container-fluid:after, .row:after
{
    clear: both
}

#mobile-header-menu__contacts
{
    display: none;
}

#mobile-header-menu__main
{
    display: none;
}

#frontpage-wrapper
{
    margin: 0 auto;
    max-width: 1920px;
    overflow: hidden;
}


.phone__number a, .contacts__phone a
{
    color: #fff;
    text-decoration: none;
}

/*-- BUTTON --*/

/*-- main button --*/

.btn
{
    -moz-box-shadow: 0 5px 12px 0 rgba(55, 65, 153, .58);
    -moz-transition: all 0.4s ease;
    -webkit-box-shadow: 0 5px 12px 0 rgba(55, 65, 153, .58);
    -webkit-transition: all 0.4s ease;
    background-color: #374199;
    border-radius: 2px;
    border: 0 none;
    box-shadow: 0 5px 12px 0 rgba(55, 65, 153, .58);
    color: #ffffff;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    font-size: 100%;
    font-weight: 300;
    padding: 15px 0;
    text-transform: uppercase;
    transition: all 0.4s ease;
    width: 300px;
}

.btn:active, .btn:focus
{
    border: 0 none;
    outline: none;
}

.btn:hover
{
    -moz-box-shadow: 0 5px 12px 0 rgba(101, 102, 199, .58);
    -webkit-box-shadow: 0 5px 12px 0 rgba(101, 102, 199, .58);
    background-color: #6566C7;
    box-shadow: 0 5px 12px 0 rgba(101, 102, 199, .58);
}

/*-- readmore button --*/

.btn-readmore
{
    background: none;
    border-radius: 3px;
    border: 1px solid #374199;
    color: #374199;
    display: block;
    margin: 0 auto;
    padding: 5px 25px;
    text-align: center;
}

.btn-readmore:hover
{
    background: #6566C7;
    color: #fff;
}

/*-- mobile menu buttons --*/

.btn-menu
{
    display: none;
    height: 35px;
    background: none;
    color: white;
    margin-top: 10px;
    border: 1px solid #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

/*-- MOBILE MENUS --*/

/*-- Left menu contacts --*/

#mobile-header-menu__contacts
    {
        color: black;
        position: fixed;
        z-index: 4;
        bottom: 0;
        top: 0;
        padding: 15px;
        width: 240px;
        background: lightgrey;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-box-shadow: 3px 0 6px rgba(0, 0, 0, .16), 3px 0 6px rgba(0, 0, 0, .23);
        -moz-box-shadow: 3px 0 6px rgba(0, 0, 0, .16), 3px 0 6px rgba(0, 0, 0, .23);
        box-shadow: 3px 0 6px rgba(0, 0, 0, .16), 3px 0 6px rgba(0, 0, 0, .23);
        -webkit-overflow-scrolling: touch;
        -webkit-transition: all 300ms;
        -moz-transition: all 300ms;
        -ms-transition: all 300ms;
        -o-transition: all 300ms;
        transition: all 300ms;
        -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        -moz-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        -ms-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        -o-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        -webkit-transform: translateX(-250px);
        -moz-transform: translateX(-250px);
        -ms-transform: translateX(-250px);
        -o-transform: translateX(-250px);
        transform: translateX(-250px);
    }

#mobile-header-menu__contacts ul
{
    position: relative;
    text-align: left;
    margin-left: 0;
    padding: 0;
    list-style: none;
}

#mobile-header-menu__contacts ul li a
{
    display: block;
    text-decoration: none;
    color: #000;
    padding: 10px 0;
    font-size: 120%;
}

#mobile-header-menu__contacts ul li:last-child
{
    font-size: 200%;
    margin-top: 20px;
}

#mobile-header-menu__contacts ul li:last-child a
{
    margin-right: 20px;
    display: inline-block;
}

/*-- Right menu main --*/

#mobile-header-menu__main
{
    color: black;
    position: fixed;
    z-index: 4;
    bottom: 0;
    top: 0;
    right: 0;
    padding: 15px;
    width: 240px;
    background: lightgrey;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-box-shadow: -3px 0 6px rgba(0, 0, 0, .16), -3px 0 6px rgba(0, 0, 0, .23);
    -moz-box-shadow: -3px 0 6px rgba(0, 0, 0, .16), -3px 0 6px rgba(0, 0, 0, .23);
    box-shadow: -3px 0 6px rgba(0, 0, 0, .16), -3px 0 6px rgba(0, 0, 0, .23);
    -webkit-overflow-scrolling: touch;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -ms-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -moz-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -ms-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -o-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-transform: translateX(250px);
    -moz-transform: translateX(250px);
    -ms-transform: translateX(250px);
    -o-transform: translateX(250px);
    transform: translateX(250px);
}

.mobile-main-nav
{
    position: relative;
    text-align: right;
    margin-left: 0;
    padding: 0;
    list-style: none;
}

.mobile-main-nav li a
{
    text-decoration: none;
    display: block;
    color: #000;
    padding: 15px 0;
    font-size: 120%;
}

.menu-link--active
{
    border-bottom: 3px solid #34455b;
}

/*-- Both mobile menu's --*/

#mobile-header-menu__contacts.visible, #mobile-header-menu__main.visible
{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}

#side-nav-mask
{
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    left: 0;
    top: 0;
    opacity: .1;
    visibility: hidden;
    z-index: 2;
    -webkit-transition: all 300ms cubic-bezier(.4, 0, .2, 1);
    -moz-transition: all 300ms cubic-bezier(.4, 0, .2, 1);
    -ms-transition: all 300ms cubic-bezier(.4, 0, .2, 1);
    -o-transition: all 300ms cubic-bezier(.4, 0, .2, 1);
    transition: all 300ms cubic-bezier(.4, 0, .2, 1);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
}

#side-nav-mask.visible
{
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
    visibility: visible;
    opacity: 1;
}

.close-button__block
{
    display: block;
    position: relative;
}

.align-right
{
    text-align: right;
}

.align-left
{
    text-align: left;
}

.btn-close
{
    background: none;
    border: 1px solid #fff;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    height: 45px;
    margin-top: 10px;
    width: 45px;
}

.float-left
{
    float: left;
}

.float-right
{
    float: right;
}

/*-- FRONTPAGE HEADER --*/

.header.index
{
    background: url("../../assets/main-section-bg.jpg") no-repeat top center;
    background-size: cover;
    position: relative;
}

.header__bg
{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.header__bg:before
{
    background: rgba(52, 69, 91, 0.6);
    bottom: 0;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

/*-- header address-bar --*/

.header__address-bar
{
    background-color: #182061;
    color: #ffffff;
    display: block;
    font-size: 14px;
    height: 30px;
    line-height: 29px;
    position: relative;
    text-align: center;
    width: 100%;
}

.header-address__street
{
    display: inline-block;
    text-align: center;
}

.header-address-email
{
    display: block;
    float: right;
}

.email-address__link a
{
    color: #fff;
    text-decoration: none;
}

.header-address__phone
{
    display: block;
    float: left;
}

/*-- HEADER Content --*/

/*-- header__top --*/

.header__top
{
    position: relative;
    padding: 15px 0;
    margin-bottom: 70px;
}

/*-- header menu --*/

#frontpage__header-menu
{
    display: block;
    height: auto;
    margin-top: 30px;
    text-align: center;
    width: 100%;
}

.menu-menu-container
{
    float: none;
    margin: 0;
    padding: 0;
}

.main-nav
{
    padding: 0;
}

.main-nav li
{
    display: inline-block;
    margin-left: 35px;
}

.main-nav li:first-child
{
    margin-left: 0;
}

.main-nav li a
{
    color: #ffffff;
    display: block;
    font-size: 130%;
    padding: 5px;
    text-decoration: none;
}

#frontpage__header-menu li:hover
{
    border-bottom: 3px solid #b29b3f;
}

#frontpage__header-menu li.current-menu-item
{
    border-bottom: 3px solid #a7acff;
}

/*-- header center content --*/

.header__center
{
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

.logo
{
    background: url(../../assets/logo.jpg) no-repeat 0 0;
    -webkit-background-size: contain;
    background-size: contain;
    display: inline-block;
    height: 73px;
    margin: 0 10px 0 10px;
    vertical-align: middle;
    width: 146px;
}

.btn-header
{
    display: inline-block;
    margin-top: 50px;
    text-decoration: none;
}

/*-- partners logos --*/

.header__bottom
{
    bottom: 15px;
    position: absolute;
    width: 100%;
}

.header-partners-logos
{
    position: relative;
    text-align: center;
}

.partners-logos__list
{
    display: inline-block;
    margin-left: 20px;
}

.partners-logos__list:first-child
{
    margin-left: 0;
}


.koshel
{
    width: 130px;
}

.bazis
{
    width: 59px;
}

.don
{
    width: 76px;
}

.spectr
{
    width: 170px;
}

/*-- SECTION ABOUT --*/

.about
{
    position: relative;
}

.about .section-content
{
    height: auto;
    margin: 30px auto;
    max-height: 220px;
    overflow: hidden;
    position: relative;
    text-align: justify;
    width: 800px;
}

.about ul
{
    height: auto;
    margin: 15px 0;
    padding: 0 0 0 30px;
}

.about li
{
    font-size: 100%;
    font-style: italic;
    line-height: 1.5;
    text-align: left;
}

.about p:not('.more')
{
    font-family: inherit;
    font-size: 120%;
    line-height: 1.3;
    margin: 5px 0;
}

.more
{
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%);
    bottom: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
    left: 0;
    margin: 0;
    padding: 30px 0;
    position: absolute;
    text-align: center;
    width: 100%;

}

.readmore-close
{
    display: none;
}

/*-- SECTION PROJECTS --*/

.projects
{
    background: url("../../assets/greybg.png") repeat 0 0;
    position: relative;
}

.projects-items
{
    position: relative;
    text-align: center;
}

.item__container
{
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -moz-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    -ms-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    -o-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    -webkit-transition: all .3s cubic-bezier(.25, .8, .25, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    display: inline-block;
    height: 300px;
    margin-bottom: 20px;
    overflow: hidden;
    position: relative;
    transition: all .3s cubic-bezier(.25, .8, .25, 1);
    width: 300px;
}

.item__container:hover
{
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, .22);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, .22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, .22);
}

.item__container.active
{
    -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, .22);
    -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, .22);
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, .22);
}

.item__container:first-child, .item__container:nth-child(4)
{
    margin-right: 40px;
}

.item__container:nth-child(3), .item__container:last-child
{
    margin-left: 40px;
}

.a--1x1
{
    overflow: hidden;
    position: relative;
}

.a--1x1::before
{
    display: block;
    content: "";
    padding-top: 100%;
}

.a--fixed
{
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}

.item
{
    background-color: #000;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.item__content
{
    overflow: hidden;
    position: relative;
}

.item__content:before
{
    content: "";
    display: block;
    padding-top: 100%;
}

.item-content__img
{
    -moz-transform: translate3d(0%, 0, 0);
    -moz-transition: -moz-transform .25s ease-out, opacity .25s ease-out;
    -ms-transform: translate3d(0%, 0, 0);
    -ms-transition: -ms-transform .25s ease-out, opacity .25s ease-out;
    -o-transform: translate3d(0%, 0, 0);
    -o-transition: -o-transform .25s ease-out, opacity .25s ease-out;
    -webkit-transform: translate3d(0%, 0, 0);
    -webkit-transition: -webkit-transform .25s ease-out, opacity .25s ease-out;
    height: 100%;
    opacity: 1;
    transform: translate3d(0%, 0, 0);
    transition: transform .25s ease-out, opacity .25s ease-out;
    width: 100%;
}

.item-content__img img
{
    height: 100%;
    width: 100%;
}

.item-descr
{
    -moz-transform: translate3d(100%, 0, 0);
    -moz-transition: -moz-transform .25s ease-out;
    -ms-transform: translate3d(100%, 0, 0);
    -ms-transition: -ms-transform .25s ease-out;
    -o-transform: translate3d(100%, 0, 0);
    -o-transition: -o-transform .25s ease-out;
    -webkit-transform: translate3d(100%, 0, 0);
    -webkit-transition: -webkit-transform .25s ease-out;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
    left: 0;
    opacity: 1;
    padding: 15px;
    position: absolute;
    top: 0;
    transform: translate3d(100%, 0, 0);
    transition: transform .25s ease-out;
    width: 100%;
    z-index: 2;
}

.short-text
{
    color: #fff;
    text-indent: 0;
}

.js--show .item-descr
{
    -moz-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    -webkit-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.item-descr .btn-readmore
{
    margin-bottom: 15px;
}

.element-short-text
{
    padding: 0 15px;
    text-align: justify;
    text-indent: 0;
}

.btn-projects-readmore
{
    background-color: #374199;
    border-radius: 3px;
    border: 1px solid #374199;
    color: #fff;
    display: block;
    margin: 15px auto 0;
    padding: 5px 25px;
    text-align: center;
}

.btn-projects-readmore:hover
{
    background-color: #6566C7;
}

/*-- SECTION PARTNER --*/

.partners
{
    position: relative;
}

.partner
{
    display: inline-block;
    margin-left: 58px;
    overflow: hidden;
    text-align: center;
}

.partner__link
{
    display: block;
    position: relative;
    width: 100%;
}

.partner__logo
{
    display: inline-block;
}

.partner:first-child
{
    margin-left: 0;
}

.partner .btn-readmore
{
    margin-top: 30px;
}

/*-- SECTION FORM --*/

.contact-form
{
    background: url("../../assets/greybg.png") repeat 0 0;
    position: relative;
}

form
{
    -moz-box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 1px 0, rgba(0, 0, 0, 0.09804) 0 1px 2px 0;
    -webkit-box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 1px 0, rgba(0, 0, 0, 0.09804) 0 1px 2px 0;
    background: #fafafa;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0, 0, 0, 0.14902) 0 1px 1px 0, rgba(0, 0, 0, 0.09804) 0 1px 2px 0;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    width: 380px;
}

.group
{
    margin-bottom: 45px;
    position: relative;
}

input, textarea
{
    -webkit-appearance: none;
    background: #fafafa;
    border: none;
    border-bottom: 1px solid #757575;
    border-radius: 0;
    color: #636363;
    display: block;
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    width: 100%;
}

input:focus
{
    outline: none;
}

/* Label */

label
{
    color: #999;
    font-size: 18px;
    font-weight: normal;
    left: 5px;
    pointer-events: none;
    position: absolute;
    top: 10px;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}

/* active */

input:focus ~ label, input.used ~ label
{
    /* font-size: 14px; */
    color: #4a89dc;
    left: -2px;
    top: -20px;
    transform: scale(.75);
}

/* Underline */

.bar
{
    display: block;
    position: relative;
    width: 100%;
}

.bar:before, .bar:after
{
    background: #4a89dc;
    bottom: 1px;
    content: '';
    height: 2px;
    position: absolute;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    width: 0;
}

.bar:before
{
    left: 50%;
}

.bar:after
{
    right: 50%;
}

/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after
{
    width: 50%;
}

/* Highlight */

.highlight
{
    height: 60%;
    left: 0;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    top: 25%;
    width: 100px;
}

/* active */

input:focus ~ .highlight
{
    animation: inputHighlighter 0.3s ease;
}

/* Animations */

@keyframes inputHighlighter
{
    from
    {
        background: #4a89dc;
    }
    to
    {
        background: transparent;
        width: 0;
    }
}

/*-- FOOTER --*/

.footer
{
    background: #182061;
    color: #fff;
    padding: 15px 0;
    position: relative;
    width: 100%;
}

.footer__contacts
{
    position: relative;
    text-align: center;
}

.footer__contacts span
{
    display: inline-block;
    line-height: 25px;
    width: 100%;
}

.contacts__phone .fa.fa-phone
{
    margin-right: 10px;
}

.contacts__mail .fa.fa-envelope-o
{
    margin-right: 10px;
}

.contacts__mail a
{
    color: #fff;
}

.footer__powered-by a
{
    color: #fff;
    text-decoration: none;
}

.social-icons
{
    font-size: 30px;
    position: absolute;
    right: 0;
    top: 0;
}

.social-icons .fa.fa-facebook-official
{
    margin-left: 0;
}

.social-icons .fa.fa-instagram
{
    margin-left: 15px;
}

.social-link
{
    color: #fff;
}

/*-- MEDIA QUERIES --*/

/*-- Large desktop's --*/

@media screen and (min-width: 1200px)
{
    .container
    {
        width: 1024px;
    }
}

/*-- Medium desktop's --*/

@media  screen and (max-width: 980px) {
    .container
    {
        width: 100%;
    }

    /*-- HEADER --*/
    .header__center h1
    {
        font-size: 36px;
    }

    .header__center h3
    {
        font-size: 22px;
    }

    .logo
    {
        height: 60px;
        width: 120px;
    }

    /*-- SECTION ABOUT --*/
    .about .section-content
    {
        width: 100%;
    }

    /*-- SECTION PROJECTS --*/
    .item__container:first-child, .item__container:nth-child(4)
    {
        margin-right: 0;
    }

    .item__container:nth-child(3), .item__container:last-child
    {
        margin-left: 20px;
    }

    .item__container
    {
        margin-left: 20px;
    }

    /*-- SECTION PARTNERS --*/
    .partners
    {
        text-align: center;
    }

    .partner
    {
        margin-left: 0;
        margin-top: 30px;
        width: 40%;
    }

    /*-- FOOTER --*/
    .social-icons
    {
        right: 30px;
    }
}

/*-- Mobile Pad's --*/

@media screen and (max-width: 740px){
    .container
    {
        width: 100%;
    }

    p
    {
        font-size: 120%;
        line-height: 1.2;
        text-align: left;
        text-indent: 15px;
        margin: 5px 0;
    }

    section
    {
        padding: 15px 0;
    }

        /*-- Mobile Menus --*/
    #mobile-header-menu__contacts, #mobile-header-menu__main
    {
        display: block;
    }

    .btn-menu
    {
        display: block;
    }

    /*-- Header --*/
    .header__address-bar
    {
        height: 56px;
    }

    .header__top
    {
        display: none;
    }

    .header__center
    {
        top: 40%;
    }

    .header__contacts
    {
        display: none;
    }

    .header__center h1
    {
        font-size: 24px;
    }

    .logo
    {
        height: 45px;
        width: 90px;
    }

    .header__center h3
    {
        font-size: 18px;
    }

    .btn-header
    {
        margin-top: 0;
    }

    .header__bottom ul
    {
        margin: 0;
        padding: 0;
    }

    .btn
    {
        padding: 10px 0;
        margin-top: 15px;
        width: 235px;
    }

    /*-- header logos --*/
    .partners-logos__list
    {
        margin-left: 5px;
    }

    .koshel
    {
        width: 90px;
    }

    .bazis
    {
        width: 60px;
    }

    .don
    {
        width: 65px;
    }

    .spectr
    {
        width: 110px;;
    }

        /*-- SECTION PARTNERS --*/
    .spectr-color
    {
        width: 170px;
    }
}

@media screen and (max-width: 640px){

/*-- SECTION ABOUT --*/
    .about .section-content
    {
        width: 100%;
    }

    /*-- SECTION PROJECTS --*/
    .item__container
    {
        margin-left: 10px;
        height: 280px;
        width: 280px;
    }

    .item__container:first-child, .item__container:nth-child(4)
    {
        margin-right: 0;
    }

    .item__container:nth-child(3), .item__container:last-child
    {
        margin-left: 0;
    }

    .short-text
    {
        height: 188px;
        overflow: hidden;
    }

    /*-- SECTION PARTNERS --*/
    .section-content
    {
        text-align: center;
    }

    .social-icons
    {
        right: 20px;
    }

}

@media screen and (max-width: 480px)
{
    /*-- HEADER --*/
    .header__center h1
    {
        font-size: 22px;
        width: auto;
    }

    .logo
    {
        height: 35px;
        width: 70px;
    }

    .header__center h3
    {
        font-size: 95%;
    }

    .btn
    {
        font-size: 90%;
        width: 200px;
    }

    .btn-header
    {
        margin-top: 5px;
    }

    .header__bottom ul
    {
        margin: 0;
        padding: 0;
    }

    /*-- SECTION ABOUT --*/
    .about
    {
        background: none #fff;
    }

    .about .section-content
    {
        margin: 0 auto 15px;
        width: 100%;
    }

    /*-- SECTION PROJECTS --*/
    .item__container
    {
        height: 280px;
        width: 280px;
    }

    /*-- SECTION PARTNERS --*/
    .partners
    {
        background: #fff none;
    }

    .partner
    {
        margin: 0 0 40px 0;
        width: 100%;
    }

    .partner:last-child
    {
        margin-bottom: 0;
    }

    /*-- SECTION CONTACT FORM --*/
    .contact-form
    {
        background: url("../../assets/greybg.png") repeat 0 0;
        position: relative;
    }

    form
    {
        width: 100%;
    }

    /*--SECTION FOOTER --*/
    .social-icons
    {
        position: relative;
        display: inline-block;
        width: 100%;
        right: 0;
        text-align: center;
    }
}

@media screen and (max-width: 360px)
{
    .header__center h1
    {
        font-size: 22px;
        width: 100%;
    }

    .logo
    {
        height: 45px;
        width: 90px;
    }

    .header__center h3
    {
        font-size: 14px;
    }

    .btn-header
    {
        margin-top: 0;
    }

    .koshel
    {
        width: 70px;
    }

    .bazis
    {
        width: 40px;
    }

    .don
    {
        width: 45px;
    }

    .spectr
    {
        width: 90px;;
    }
}

@media screen and (max-height: 250px)
{
    .header__center
    {
        top: 50%;
    }

    .header__bottom
    {
        display: none;
    }
}